{% extends 'base.html.twig' %}

{% block title %}Producto index{% endblock %}

{% block body %}


<div id="productonew">
    <h1>Productos</h1>    
    <a class="btn btn-outline-info" href="{{ path('producto_new') }}" role="button">Nuevo producto</a>
</div>


<div class="container-fluid"> 
    <table class="table">
        <thead class="thead" id="productoindex"> 
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Precio</th>
                
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.codigo }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.precio }}</td>
                <td><a href="{{ path('producto_edit', {'id': producto.id}) }}">+ Info</td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

   
{% endblock %}