{% extends 'contacto/_base.html.twig' %}

{% block title %}Empresa index{% endblock %}

{% block body %}
    <h1>Empresa index</h1>

     

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Nombre usuario</th>
                <th>Correo electrónico</th>
            </tr>
        </thead>
        <tbody>
        {% for empresa in empresas %}
            <tr>
                <td>{{ empresa.id }}</td>                
                <td><a href="{{ path('empresa_edit', {'id': empresa.id}) }}">{{ empresa.nombre }}</a> </td>
                 <td>{{ empresa.username }}</td>
                <td>{{ empresa.email }}</td>
                <td><a href="{{ path('empresa_show', {'id': empresa.id}) }}">+ Info</a> </td>                            
            </tr>
            <tr>

            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     <a href="{{ path('empresa_new') }}">Añadir empresa</a>

   
{% endblock %}