{% extends 'base.html.twig' %}

{% block title %}Gasto{% endblock %}

{% block body %}
    <h1>Gasto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gasto.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ gasto.descripcion }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ gasto.fecha ? gasto.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Importe</th>
                <td>{{ gasto.importe }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('gasto_index') }}">back to list</a>

    <a href="{{ path('gasto_edit', {'id': gasto.id}) }}">edit</a>

    {{ include('gasto/_delete_form.html.twig') }}
{% endblock %}